<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3710.csse.eng.auburn.edu.moneyapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.MoneyAppContentProvider"
            android:authorities="comp3710.csse.eng.auburn.edu.moneyapp.provider"
            android:multiprocess="true" >
        </provider>

        <activity
            android:name=".ScreenSlidePagerActivity"
            android:label="@string/title_activity_screen_slide_pager"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".AddTransactionActivity"
            android:label="@string/title_activity_add_transaction" >
        </activity>
    </application>

</manifest>
